<div class="container">
    <!-- img banner //-->
    <div class="public-banner">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11745.915129704112!2d23.03676605!3d42.608800900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1473704826503" width="1170" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- about //-->
    <div class="page-body">
        <div class="row text-center">
            <div class="col-lg-4">
                <h3>Hours</h3>
                <p>Open 7 days a week 12pm to 9pm.</p>
            </div>
            <div class="col-lg-4">
                <h3>Location</h3>
                <p> Bulgaria
                    <br /> Pernik
                    <br /> jk. Tvardi livadi </p>
            </div>
            <div class="col-lg-4">
                <h3>Reservations</h3>
                <p>For reservations, please call +359/88 888 888. 24 hours notice required to cancel a reservation.</p>
            </div>
        </div>
    </div>
</div>

<%- partial("partial/_reservation-modal") %>