<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
				<li><a href="#"><i class="fa official"></i></a></li>
				<li><a href="#"><i class="fa square"></i></a></li>
				<li><a href="#"><i class="fa square"></i></a></li>
				<li><a href="#"><i class="fa square"></i></a></li>
				</ul>
				<p>&copy; 2016 GdikovG</p>
			</div>
		</div>
	</div>
</footer>